
<div>
  <div>
    <h1>
      <%= @the_user.username %>
    </h1>

    <div>
      <div>
        <a href="/users">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_user/<%= @the_user.id %>">
          Delete user
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Private
      </dt>
      <dd>
        <%= @the_user.private %>
      </dd>
      <dt>
        Followers
      </dt>
      <dd>
        0
      </dd>
      <dt>
        Following
      </dt>
      <dd>
        0
      </dd>

      <% if @current_user.id == @the_user.id %>
        <dt>Edit user</dt>
        <dd>
          <form action="/modify_user" method="post">
            <label for="browser_username">Username</label>
            <input id="browser_username" type="text" name="query_username" placeholder="Enter a username..."
              value="<%= @the_user.username %>">

            <label for="browser_private">Private?</label>
            <input id="browser_private" type="checkbox" name="query_private" >

            <button>Update user</button>
          </form>
        </dd>
      <% end %>

      <li>
        <a href="/users/<%= @the_user.username %>">Profile</a>
      </li>      
     <li>
        <a href="/users/<%= @the_user.username %>/liked_photos">Liked photos</a>
      </li>     
      <li>
        <a href="/users/<%= @the_user.username %>/feed">Feed</a>
      </li>   
      <li>
        <a href="/users/<%= @the_user.username %>/discover">Discover</a>
      </li>    



    </dl>
  </div>
</div>

<hr>


<h2>Own photos (<%= @the_user.photos.count %>)</h2>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Owner</th>
    <th>Caption</th>
    <th>Posted</th>
    <th>Likes</th>
    <th></th>
  <tr>

  <% @the_user.photos.each do |the_photo| %>
    <tr>
      <td><img src="<%= the_photo.image %>"></td>
      <td><%= the_photo.owner.username %></td>
      <%#=the_photo.poster.username %>
      <td><%= the_photo.caption %></td>
      <td><%= time_ago_in_words(the_photo.created_at) %> ago</td>
      <td><%= the_photo.likes.count %></td>
      <td><a href="/users/<%= @the_user.username %>">Show details</td>
    </tr>
  <% end %>
</table>

