<div>
  <div>
    <h1>
      List of photos
    </h1>
  </div>
</div>


<div>
  <div>
 

    <form action="/insert_photo" method="post">
      <div>
        <label for="caption_box">
          Image
        </label>
      <button>
        Choose File
      </button>


      </div>

      <button>
        Add photo
      </button>


      <div>
        <label for="caption_box">
          Caption
        </label>

        <textarea id="caption_box" name="query_caption" rows="3"></textarea>
      </div>

      <button>
        Add photo
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Image
        </th>

        <th>
          Caption
        </th>

        <th>
          Owner
        </th>

        <th>
          Likes
        </th>

        <th>
          Posted
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
      <tr>

      
        <td>
          <img src="<%= a_photo.image %>">
        </td>
        <td>
          <%= a_photo.caption %>
        </td>
        <td>
          <%= a_photo.owner_id %>
        </td>
        <td>
          <%= a_photo.likes_count %>
        </td>
        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>

        <td>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
